<h2><%= @poll.question %></h2>
<h5>Posted by <%= @user.email %></h5>
<ul>
    <% @poll.options.split(",").each do |option| %>
        <li><strong><%= option.split(":^:")[0] %></strong> : Vote to: <%= option.split(":^:")[1] %> Balance: <%= option.split(":^:")[2] %> </li>
    <% end %>
    </ul>
<hr>
<% if current_user.id == @poll.user_id %>
    <%= link_to "Delete", poll_path(@poll), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger" %>
<% end %>
<hr>